@use "./variables" as *;
@use "./mixins" as *;

.footer {
  color: $footer-color;
  font-family: $site-font;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  justify-content: space-between;

  &__title {
    color: $footer-title-text-color;
    font-size: 1.5rem;
  }

  &__contact {
    width: 30%;
  }
  &__email {
    color: $footer-title-text-color;
  }
  &__email-heading {
    color: $footer-subtitle-text-color;
  }

  &__hours {
    display: flex;
    flex-direction: column;
    width: 100%;

    &--container {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__weekday,
  &__saturday,
  &__sunday {
    width: 35rem;
    max-width: 11rem;
    padding-right: 1.5rem;
  }
  &__description {
    color: $footer-subtitle-text-color;
  }
  &__time {
    color: $footer-title-text-color;
  }

  &__social {
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  &__icons {
    display: flex;
    justify-content: space-between;

    & img {
      width: 2.5rem;
      height: 2.5rem;
      padding: 0.5rem;
    }
  }
}
