@use "./variables" as *;
@use "./mixins" as *;

.footer {
  background-color: $footer-color;
  font-family: $site-font;
  padding: 4rem;
  display: flex;
  justify-content: space-evenly;

  &__title {
    color: $footer-title-text-color;
    font-size: 1.5rem;
  }

  &__contact {
    padding-right: 5rem;
    &__title-container {
      &--title {
        color: $footer-title-text-color;
        font-size: 2rem;
      }
    }
    &__subtitle-container {
      &--heading {
        color: $footer-subtitle-text-color;
      }
    }
    &__email-container {
      &--email {
        color: $footer-title-text-color;
      }
    }
  }

  &__hours {
    &__title-container {
      &--heading {
        color: $footer-title-text-color;
        font-size: 2rem;
      }
    }
    &__time-outer-container {
      display: flex;
    }
    &__time-inner-container {
      padding-right: 2.5rem;
      &--weekdaytitle,
      &--saturdaytitle,
      &--sundaytitle {
        padding-bottom: 1rem;
        color: $footer-subtitle-text-color;
      }
      &--weekdayhours,
      &--saturdayhours,
      &--sundayhours {
        color: $footer-title-text-color;
      }
    }
  }

  &__social {
    &__text-container {
      padding-bottom: 1.5rem;
      &--heading {
        font-size: 2rem;
        color: $footer-title-text-color;
      }
    }
    &__icon-container {
    }
  }
  &__icon {
    height: 2rem;
    padding-right: 2.5rem;
  }
}
