@use "./variables" as *;
@use "./mixins" as *;

.header {
  display: flex;
  background: $nav-bar-color;
  padding-top: 1em;
  margin-bottom: 1em;
  padding-left: 2rem;

  &__title {
    @include title-font($logo-color);
    @include resets;
    padding-left: 2rem;
    flex-grow: 1;
    // color: $primary-color;
  }
}
