@use "./mixins" as *;
@use "./variables" as *;

.nav {
  padding: 1rem;

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    padding: 16px;
    @include title-font($logo-color);

    &--active {
      text-decoration: underline $active-page-color;
    }

    &:hover {
      @extend .nav__link--active;
    }
  }
}
