$nav-bar-color: #ffffff;
$destination-section-color: #ffffff;
$logo-color: #335576;
$active-page-color: #db7a4e;
$footer-color: #fefaf5;
$footer-title-text-color: #335576;
$footer-subtitle-text-color: #db7a4e;
$hero-background-color: #fefaf5;
$hero-slogan-color: #335576;
$get-started-btn-color: #db7a4e;
$hme-page-recommendation-tile-color: #335576;
$destination-page-activity-card-color: #fefaf5;

$site-font: "Verdana";
