.header {
  display: flex;
  background: #ffffff;
  padding-top: 1em;
  margin-bottom: 1em;
}
.header__title {
  font-family: "Verdana";
  text-transform: capitalize;
  color: #335576;
  padding: 0;
  margin: 0;
  padding-left: 2rem;
  flex-grow: 1;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  padding: 1rem;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav__link {
  text-decoration: none;
  padding: 16px;
  font-family: "Verdana";
  text-transform: capitalize;
  color: #335576;
}
.nav__link--active, .nav__link:hover {
  -webkit-text-decoration: underline #db7a4e;
          text-decoration: underline #db7a4e;
}
.hero {
  background: #fefaf5;
  display: flex;
  font-family: "Verdana";
  padding: 1rem;
  justify-content: center;
  align-items: center;
  height: 30.5rem;
}
.hero__description {
  width: 30%;
  flex-grow: 1;
  margin-left: 3rem;
}
.hero__description--title {
  color: #335576;
  font-size: 2.5rem;
}
.hero__description--tagline {
  color: #335576;
}
.hero__description--btn {
  margin-top: 1rem;
  background: #db7a4e;
  color: white;
  border-radius: 0.625rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
}
.hero__image-container--image {
  width: 500px;
}

.footer {
  background-color: #fefaf5;
  font-family: "Verdana";
  padding: 4rem;
  display: flex;
  justify-content: space-evenly;
}
.footer__title {
  color: #335576;
  font-size: 1.5rem;
}
.footer__contact {
  padding-right: 5rem;
}
.footer__contact__title-container--title {
  color: #335576;
  font-size: 2rem;
}
.footer__contact__subtitle-container--heading {
  color: #db7a4e;
}
.footer__contact__email-container--email {
  color: #335576;
}
.footer__hours__title-container--heading {
  color: #335576;
  font-size: 2rem;
}
.footer__hours__time-outer-container {
  display: flex;
}
.footer__hours__time-inner-container {
  padding-right: 2.5rem;
}
.footer__hours__time-inner-container--weekdaytitle, .footer__hours__time-inner-container--saturdaytitle, .footer__hours__time-inner-container--sundaytitle {
  padding-bottom: 1rem;
  color: #db7a4e;
}
.footer__hours__time-inner-container--weekdayhours, .footer__hours__time-inner-container--saturdayhours, .footer__hours__time-inner-container--sundayhours {
  color: #335576;
}
.footer__social__text-container {
  padding-bottom: 1.5rem;
}
.footer__social__text-container--heading {
  font-size: 2rem;
  color: #335576;
}
.footer__icon {
  height: 2rem;
  padding-right: 2.5rem;
}

.hawaii {
  background: url("../../Assets/Images/hawaii.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: "Verdana";
  padding-bottom: 5rem;
}
.hawaii .title {
  margin-left: 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  font-weight: bold;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.hawaii__title--text {
  color: #335576;
  padding: 1rem;
}
.hawaii .card {
  display: flex;
  flex-direction: column;
  width: 22rem;
  height: 27.5rem;
  border-radius: 0.625rem;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
  margin: 0 2.5rem;
}
.hawaii .card__content {
  color: black;
  font-size: 2rem;
  border-bottom: 5px solid black;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
.hawaii .card__content__container {
  background-color: #fefaf5;
  width: 80%;
  padding: 1rem;
  margin-bottom: 1rem;
}
.hawaii .card__content__container--text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hawaii .card__wrap--outer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.hawaii .card__wrap--inner {
  display: flex;
  flex-direction: row;
}
.hawaii .card__wrap--friday {
  background-color: white;
}
.hawaii .card__wrap--saturday {
  background-color: white;
}
.hawaii .card__wrap--sunday {
  background-color: white;
}

.iceland {
  background: url("../../Assets/Images/iceland.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: "Verdana";
  padding-bottom: 5rem;
}
.iceland .title {
  margin-left: 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  font-weight: bold;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.iceland__title--text {
  color: #335576;
  padding: 1rem;
}
.iceland .card {
  display: flex;
  flex-direction: column;
  width: 22rem;
  height: 27.5rem;
  border-radius: 0.625rem;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
  margin: 0 2.5rem;
}
.iceland .card__content {
  color: black;
  font-size: 2rem;
  border-bottom: 5px solid black;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
.iceland .card__content__container {
  background-color: #fefaf5;
  width: 80%;
  padding: 1rem;
  margin-bottom: 1rem;
}
.iceland .card__content__container--text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.iceland .card__wrap--outer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.iceland .card__wrap--inner {
  display: flex;
  flex-direction: row;
}
.iceland .card__wrap--friday {
  background-color: white;
}
.iceland .card__wrap--saturday {
  background-color: white;
}
.iceland .card__wrap--sunday {
  background-color: white;
}

.greece {
  background: url("../../Assets/Images/greece.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: "Verdana";
  padding-bottom: 5rem;
}
.greece .title {
  margin-left: 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  font-weight: bold;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.greece__title--text {
  color: #335576;
  padding: 1rem;
}
.greece .card {
  display: flex;
  flex-direction: column;
  width: 22rem;
  height: 27.5rem;
  border-radius: 0.625rem;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
  margin: 0 2.5rem;
}
.greece .card__content {
  color: black;
  font-size: 2rem;
  border-bottom: 5px solid black;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
.greece .card__content__container {
  background-color: #fefaf5;
  width: 80%;
  padding: 1rem;
  margin-bottom: 1rem;
}
.greece .card__content__container--text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.greece .card__wrap--outer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.greece .card__wrap--inner {
  display: flex;
  flex-direction: row;
}
.greece .card__wrap--friday {
  background-color: white;
}
.greece .card__wrap--saturday {
  background-color: white;
}
.greece .card__wrap--sunday {
  background-color: white;
}

.destination {
  background: #ffffff;
  height: 33.5rem;
  font-family: "Verdana";
  padding-bottom: 5rem;
}
.destination__title {
  margin-left: 3rem;
}
.destination__title--text {
  color: #335576;
  padding: 1rem;
}
.destination .card {
  display: flex;
  flex-direction: column;
  width: 22rem;
  height: 27.5rem;
  border-radius: 0.625rem;
  box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.2);
  justify-content: space-around;
  align-items: flex-end;
  margin: 0 2.5rem;
}
.destination .card__content {
  color: white;
  font-size: 2rem;
  padding-top: 23rem;
  padding-right: 1rem;
}
.destination .card__wrap--outer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.destination .card__wrap--inner {
  display: flex;
  flex-direction: row;
}
.destination .card__wrap--hawaii {
  background: url("../Assets/Images/hawaii.jpg");
  background-size: cover;
  background-position: center;
}
.destination .card__wrap--iceland {
  background: url("../Assets/Images/iceland.jpg");
  background-size: cover;
  background-position: center;
}
.destination .card__wrap--greece {
  background: url("../Assets/Images/greece.jpg");
  background-size: cover;
  background-position: center;
}/*# sourceMappingURL=main.css.map */